.btn-man {
  font-weight: 600 !important;
  font-size: 1.3rem !important;
  /* padding: 0 !important; */
  height: 49px !important;
  border-radius: 40px !important;
}
.input-man {
  border-radius: 40px !important;
  height: 3em !important;
}
.input-man1 {
  border-radius: 40px !important;
  height: 2.5em !important;
}
.btn-logout {
  border-radius: 40px !important;
  font-weight: 600 !important;
}
.sidebar-man {
  padding-left: 3em !important;
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}
.sidebar-logout-btn {
  padding: 0.2em 1.2em !important;
}
.avatars {
  width: 60px !important;
  height: 60px !important;
}
.card-man {
  border-radius: 30px !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.border40 {
  border-radius: 40px !important;
  font-weight: 600 !important;
}
.offcan {
  display: none !important;
}
@media (max-width: 1024px) {
  .offcan {
    display: block !important;
  }
  .sidebar-man {
    display: none;
  }
}
.tab-component {
  border-radius: 40px !important;
}
